torch
torchvision
torchaudio

transformers
accelerate
datasets
sentencepiece

opencv-python
opencv-contrib-python

numpy
pandas
scikit-learn
scipy

matplotlib
seaborn

Pillow
tqdm

flask
flask-cors
werkzeug
jinja2

ipython
ipywidgets
notebook
jupyter

huggingface-hub
safetensors

imageio
imageio-ffmpeg

einops

timm

av

json5